{%extends 'news/base.html'%}
{% block rubric_all %}
{% for rubric in rubrics %}
<a href="{% url 'rubric' rubric.id %}">{{rubric.name}}</a><br>
{% endfor %}
{% endblock %}

{%block content%}

<h2>Последние 10 постов</h2>
{% for post in posts %}
<div class="card">
  <div class="card-header">
    {{post.created_at}}
  </div>
    <div class="card-header">
        Категория : <a href="{% url 'rubric_post' post.rubric.id%}">{{post.rubric}}</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.text}}</p>
    <a href="{% url 'post_full' post.id%}" class="btn btn-primary">Читать далее</a>
  </div>
</div><br>
{%endfor%}
{% if page_obj %}
<nav aria-label="...">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1">1</a>
    </li>
    <li>
    <a class="page-link">...</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
    </li>
    {%endif%}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">{{page_obj.number}}</a>
    </li>
    {%if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
    {% endif %}
  </ul>
</nav>
{%endif%}

{%endblock%}
