{% extends 'news/base.html' %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>
{% if user.first_name and user.last_name %}
<p>3дравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>
{% else %}
<p>3дравствуйте!</p>
{% endif %}
<h3>Ваши посты</h3>
{% for post in posts %}
<div class="card">
  <div class="card-header">
    {{post.created_at}}
  </div>
    <div class="card-header">
        Категория : <a href="{% url 'rubric_post' post.rubric.id%}">{{post.rubric}}</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.text}}</p>
    <a href="{{post.get_absolute_url}}" class="btn btn-primary">Читать далее</a>
  </div>
</div><br>
{%endfor%}
{% endblock %}